span.tab{
    padding: 20px; /* Or desired space*/
}

span.user_tab{
    padding: 80px; /* Or desired space*/
    font-size: 150%;
    color: rgb(12, 227, 172);
}


span.userhead {
    font-size:150%;
}

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #375a7f;
}