@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    
    <body>

        <div class="container">
            @content
        </div>
        <div id="footer" align="center">
            <div class="container">
                <p>Site Created By<br/>
                <strong>Thomas Watts</strong> || <strong>Daniel Buraimo</strong> || <strong>Hui Jiang</strong></p>
            </div>
        </div>
    </body>
</html>
