@(userForm: Form[User], movielist: java.util.ArrayList[String], noname: String, nopass: String)

@import helper._



@mainreg("Register") {

	<h1 class="text-info">Registration Form</h1>
    <hr class="gray"/>
	@helper.form(action = routes.Javatar.submit()){
	<div class="col-md-6">
	    @if(noname){
	        <font color="red">ENTER A VALID USERNAME</font>
		}
	    @helper.inputText(userForm("username"), '_label -> "Username:")
	</div>  
	<div class="col-md-6">
	    @if(nopass){
	        <font color="red">ENTER A VALID PASSWORD</font>
		}			
		@helper.inputPassword(userForm("password"), '_label -> "Password:")
	</div>
	    <p><br/></p>

		<div class="col-md-6">
		<h3 class="text-success">Rate Ten Movies</h3>
		<span class="tab"><em>will load more movies if you don't rate 10 here</em></span>
		<p><br/></p>
		@inputRadioGroup(
          userForm("movie1"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(0))
        @inputRadioGroup(
          userForm("movie2"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(1))
		@inputRadioGroup(
          userForm("movie3"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(2))
		@inputRadioGroup(
          userForm("movie4"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(3))
		@inputRadioGroup(
          userForm("movie5"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(4))
        <button class="btn btn-primary" type="submit">Rate These Movies</button>
        <p><br/></p>
		</div>
		<div class="col-md-6">
		<p><br/></p>
		<p><br/></p>
		<p><br/><br/></p>
		@inputRadioGroup(
          userForm("movie6"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(5))
		@inputRadioGroup(
          userForm("movie7"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(6))
		@inputRadioGroup(
          userForm("movie8"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(7)) 
		@inputRadioGroup(
          userForm("movie9"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(8))
		@inputRadioGroup(
          userForm("movie10"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> movielist.get(9)) 
		</div>
    }

}