@(userForm: Form[User], recList: java.util.ArrayList[String], username: String)

@import helper._
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">JAVATAR</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                     <li><a href="@routes.Register.signout(username)">Logout</a></li>
                     <li><a href="@routes.Register.user(username)">My Profile</a></li>
                </ul>
            </div>
        </nav>

@mainrec("Recommendations") {

    @helper.form(action = routes.Register.submitrec(username)){
		<h1 class="text-success">Movies Recommended For You</h1>
		<p><br/></p>
		
    <div class="row">
        <div class="col-md-6">
        @inputRadioGroup(
          userForm("movie1"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(0))
        @inputRadioGroup(
          userForm("movie2"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(1))
		@inputRadioGroup(
          userForm("movie3"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(2))
		@inputRadioGroup(
          userForm("movie4"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(3))
		@inputRadioGroup(
          userForm("movie5"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(4))
        </div>
        <div class="col-md-6">
        @inputRadioGroup(
          userForm("movie6"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(5))
		@inputRadioGroup(
          userForm("movie7"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(6))
		@inputRadioGroup(
          userForm("movie8"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(7)) 
		@inputRadioGroup(
          userForm("movie9"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(8))
		@inputRadioGroup(
          userForm("movie10"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(9))
        </div>
        
    </div>
    <p><br/></p>
    
    <button class="btn btn-primary" type="submit">Submit Ratings</button>
	    <p><br/></p>

    }
        
        <p><br/></p>
    

    
}