@(username: String, recent: java.util.ArrayList[String], count: Integer)

@mainuser("User Page") {
	
		<strong><span class="userhead">Username:</span></strong>
		<span class="user_tab"><span class="userbox">@username</span></span>
        <br/><br/>
	    <strong><span class="userhead">Movies Rated:</span></strong> 
	    <span class="user_tab"><span class="userbox">@count</span></span>

	<hr/>
    <p><br/></p>

    <div class="col-md-3">
        
    </div>
    <div class="col-md-6">
    <h1 align="center">LAST TEN MOVIES RATED</h1>

        	<ul><ul>   
    @for(i <- 0 to recent.size()-1){
        <li>@recent.get(i)</li>
	}
    </ul></ul>
    
    @helper.form(action = routes.Register.recommend()){
        <div align="center"><input type="submit" class="btn btn primary" value="Find Recommendations"></div>
    }
    <p><br/></p>
    </div>
    
    <div class="col-md-1">
        
    </div>



	

}